<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title></title>
			<link rel="stylesheet" type="text/css" href="../css/estilo2.css">
			<link rel="stylesheet" type="text/css" href="../css/Bootstrap/css/bootstrap.css">
		</head>
		
		<body>
			<div class="container menu">
				<div class="row">
					<div class="col-md-12">
						<div class="foto"><img src="../imagenes/tigre.png" class="foto1"></div>
						<p class="nombre">Victor Manuel Guzmán Ayala</p>
					</div>
				</div>
				<div class="row text-center tp">
					<div class="col-md-3">
						<a href="../index.html" class="txtm"><img src="../imagenes/tigre.png" class="img1"></a>
						<a href="../index.html" class="txtm"><p class="txtmenu">YO</p></a>
					</div>
					<div class="col-md-3">
						<a href="../templates/Pags.html" class="txtm"><img src="../imagenes/trabajo.gif" class="img1"></a>
						<a href="../templates/Pags.html" class="txtm"><p class="txtmenu">PAGINAS</p></a>
					</div>
					<div class="col-md-3">
						<a href="../templates/Dibujos.html" class="txtm"><img src="../imagenes/dibujos.gif" class="img1"></a>
						<a href="../templates/Dibujos.html" class="txtm"><p class="txtmenu">MIS DIBUJOS</p></a>
					</div>
					<div class="col-md-3">
						<a href="../templates/contactos.html" class="txtm"><img src="../imagenes/contactos.gif" class="img1"></a>
						<a href="../templates/contactos.html" class="txtm"><p class="txtmenu">ME ENCUENTRAS</p></a>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/a.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/b.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/c.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/d.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/e.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/f.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/g.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/h.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/i.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/j.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/k.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/l.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/m.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/n.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/ñ.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/o.png" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/p.png" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/12.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/13.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/35.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/15.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/16.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/17.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/18.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/19.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/20.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/21.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/39.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/23.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/24.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/25.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/26.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/27.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/28.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/29.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/30.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/31.jpg" class="img2">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/32.jpg" class="img2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="../imagenes/33.jpg" class="img2 mb">
					</div>
					<div class="col-md-6">
						<img src="../imagenes/34.jpg" class="img2 mb">
					</div>
				</div>
			</div>

		</body>
	</html>