<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title></title>
			<link rel="stylesheet" type="text/css" href="../css/Bootstrap/css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/estilo1.css">
		</head>
		
		<body>
			<div class="container menu">
				<div class="row">
					<div class="col-md-12">
						<div class="foto"><img src="../imagenes/tigre.png" class="foto1"></div>
						<p class="nombre">Victor Manuel Guzmán Ayala</p>
					</div>
				</div>
				<div class="row text-center tp">
					<div class="col-md-3">
						<a href="../index.html" class="txtm"><img src="../imagenes/tigre.png" class="img1"></a>
						<a href="../index.html" class="txtm"><p class="txtmenu">YO</p></a>
					</div>
					<div class="col-md-3">
						<a href="../templates/Pags.html" class="txtm"><img src="../imagenes/trabajo.gif" class="img1"></a>
						<a href="../templates/Pags.html" class="txtm"><p class="txtmenu">PAGINAS</p></a>
					</div>
					<div class="col-md-3">
						<a href="../templates/Dibujos.html" class="txtm"><img src="../imagenes/dibujos.gif" class="img1"></a>
						<a href="../templates/Dibujos.html" class="txtm"><p class="txtmenu">MIS DIBUJOS</p></a>
					</div>
					<div class="col-md-3">
						<a href="../templates/contactos.html" class="txtm"><img src="../imagenes/contactos.gif" class="img1"></a>
						<a href="../templates/contactos.html" class="txtm"><p class="txtmenu">ME ENCUENTRAS</p></a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="slider">
						<ul>
							<li class="slide-1"><img src="../imagenes/mipag.png" class="img2"></li>
							<li class="slide-2"><img src="../imagenes/mipag2.png" class="img2"></li>
							<li class="slide-3"><img src="../imagenes/mipag3.png" class="img2"></li>
							<li class="slide-4"><img src="../imagenes/mipag4.png" class="img2"></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="slider1">
						<ul>
							<li class="slide-5"><img src="../imagenes/cuda1.png" class="img2"></li>
							<li class="slide-6"><img src="../imagenes/cuda2.png" class="img2"></li>
							<li class="slide-7"><img src="../imagenes/cuda3.png" class="img2"></li>
							<li class="slide-8"><img src="../imagenes/cuda4.png" class="img2"></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12"><img src="../imagenes/portfolio.png" class="img3"></div>
			</div>

		</body>
	</html>